# Математика — Итоговое домашнее задание

# А.&#8201;Д. Егоров

# Предобработка данных

In [1]:
import numpy as np 
import pandas as pd
import re

### Импортируем данные

In [2]:
df_train = pd.read_csv("../data/raw/cars_train.csv")
df_test = pd.read_csv("../data/raw/cars_test.csv")

df_train = df_train.dropna().drop_duplicates()
df_test = df_test.dropna().drop_duplicates()

In [3]:
df_train.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
3,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
4,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5.0

In [4]:
df_train.shape

(5823, 13)

In [5]:
df_test.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Mahindra Xylo E4 BS IV,2010,229999,168000,Diesel,Individual,Manual,First Owner,14.0 kmpl,2498 CC,112 bhp,260 Nm at 1800-2200 rpm,7.0
1,Tata Nexon 1.5 Revotorq XE,2017,665000,25000,Diesel,Individual,Manual,First Owner,21.5 kmpl,1497 CC,108.5 bhp,260Nm@ 1500-2750rpm,5.0
2,Honda Civic 1.8 S AT,2007,175000,218463,Petrol,Individual,Automatic,First Owner,12.9 kmpl,1799 CC,130 bhp,172Nm@ 4300rpm,5.0
3,Honda City i DTEC VX,2015,635000,173000,Diesel,Individual,Manual,First Owner,25.1 kmpl,1498 CC,98.6 bhp,200Nm@ 1750rpm,5.0
4,Tata Indica Vista Aura 1.2 Safire BSIV,2011,130000,70000,Petrol,Individual,Manual,Second Owner,16.5 kmpl,1172 CC,65 bhp,96 Nm at 3000 rpm,5.0

In [6]:
df_test.shape

(919, 13)

## Обработка данных

Заметим, что в датасете первое слово в колонке `name` обозначает производителя, добавим это как фитчу.

In [7]:
def add_brand(df):
    df["brand"] = df["name"].apply(lambda x: x.split(" ", 1)[0])

add_brand(df_train)
add_brand(df_test)

In [8]:
df_train.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,brand
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,Maruti
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,Skoda
2,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,Hyundai
3,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,Maruti
4,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5.0,Hyundai

Преобразуем колонки `mileage`, `max_power`, `engine` из string во float, чтобы остались только значения kmpl, bhp, CC соответственно

In [9]:
def clean_mileage_maxpower_engine(df):

    def clean_str_to_float(x):
        res = str(x).split(" ", 1)[0]
        if res == "":
            return np.nan
        else:
            return np.float64(res)

    df["mileage"] = df["mileage"].apply(clean_str_to_float)
    df["max_power"] = df["max_power"].apply(clean_str_to_float)
    df["engine"] = df["engine"].apply(clean_str_to_float)

    df = df.dropna()

clean_mileage_maxpower_engine(df_train)
clean_mileage_maxpower_engine(df_test)

df_train = df_train.dropna().drop_duplicates()
df_test = df_test.dropna().drop_duplicates()

In [10]:
df_train.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,brand
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,190Nm@ 2000rpm,5.0,Maruti
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,250Nm@ 1500-2500rpm,5.0,Skoda
2,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,22.4 kgm at 1750-2750rpm,5.0,Hyundai
3,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,"11.5@ 4,500(kgm@ rpm)",5.0,Maruti
4,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14,1197.0,81.86,113.75nm@ 4000rpm,5.0,Hyundai

Разбираемся с колонкой `torque` (крутящий момент)

In [11]:
def clean_torque(df):

    df["max_torque"] = df["torque"].str.extract(
        "([\d.]+)Nm",
        flags=re.IGNORECASE,
    )

    unprocessed_df = df[df["max_torque"].isna() & df["torque"].notna()]

    for index, item in unprocessed_df.iterrows():
        # обработаем строки вида 11.5@ 4,500(kgm@ rpm) и 22.4 kgm at 1750-2750rpm	
        res = re.findall("^[\d.]+", item["torque"], flags=re.IGNORECASE)
        if res:
            res = float(res[0])
            if "kgm" in item["torque"].lower():
                # переводим из kgm в Nm
                res *= 9.80665
            df.loc[index, "max_torque"] = res

    df["max_torque"] = df["max_torque"].astype(float)

    def torque_rpm_agg(x):
        if len(x) == 0:
            return np.nan
        for x in x[-1]:
            if x != "":
                return x.replace(",", "")
        return np.nan

    tmp = df["torque"].str.findall(
        "(\d,\d{3,})|(\d{4,})",
    ).apply(torque_rpm_agg)

    # for index, item in tmp[tmp[1].isna()].iterrows():
    #     tmp.loc[index, 1] = tmp.loc[index, 0]

    df["max_torque_rpm"] = tmp.astype(np.float64)

clean_torque(df_train)
clean_torque(df_test)

df_train = df_train.dropna().drop_duplicates()
df_test = df_test.dropna().drop_duplicates()

Удалим колонку `torque`

In [12]:
df_train = df_train.drop(columns=["torque"])
df_train

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,brand,max_torque,max_torque_rpm
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0,Maruti,190.000000,2000.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0,Skoda,250.000000,2500.0
2,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,Hyundai,219.668960,2750.0
3,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0,Maruti,112.776475,4500.0
4,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14,1197.0,81.86,5.0,Hyundai,113.750000,4000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6992,Hyundai Santro Xing GLS,2008,120000,191000,Petrol,Individual,Manual,First Owner,17.92,1086.0,62.10,5.0,Hyundai,96.100000,3000.0
6993,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000,Petrol,Individual,Manual,Second Owner,18.90,998.0,67.10,5.0,Maruti,90.000000,3500.0
6994,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0,Hyundai,113.700000,4000.0
6995,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0,Hyundai,235.359600,2750.0
6996,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0,Maruti,190.000000,2000.0

In [13]:
df_test = df_test.drop(columns=["torque"])
df_test

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,brand,max_torque,max_torque_rpm
0,Mahindra Xylo E4 BS IV,2010,229999,168000,Diesel,Individual,Manual,First Owner,14.00,2498.0,112.00,7.0,Mahindra,260.00000,2200.0
1,Tata Nexon 1.5 Revotorq XE,2017,665000,25000,Diesel,Individual,Manual,First Owner,21.50,1497.0,108.50,5.0,Tata,260.00000,2750.0
2,Honda Civic 1.8 S AT,2007,175000,218463,Petrol,Individual,Automatic,First Owner,12.90,1799.0,130.00,5.0,Honda,172.00000,4300.0
3,Honda City i DTEC VX,2015,635000,173000,Diesel,Individual,Manual,First Owner,25.10,1498.0,98.60,5.0,Honda,200.00000,1750.0
4,Tata Indica Vista Aura 1.2 Safire BSIV,2011,130000,70000,Petrol,Individual,Manual,Second Owner,16.50,1172.0,65.00,5.0,Tata,96.00000,3000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Hyundai i10 Magna 1.1L,2008,250000,100000,Petrol,Individual,Manual,Second Owner,19.81,1086.0,68.05,5.0,Hyundai,99.04000,4500.0
996,Hyundai i20 2015-2017 Sportz 1.2,2017,440000,50000,Petrol,Individual,Manual,Second Owner,18.60,1197.0,81.83,5.0,Hyundai,114.70000,4000.0
997,Hyundai i20 Era Diesel,2009,340000,40000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0,Hyundai,219.66896,2750.0
998,Hyundai i10 Asta,2012,350000,25000,Petrol,Individual,Manual,First Owner,20.36,1197.0,78.90,5.0,Hyundai,111.80000,4000.0
999,Honda City i DTec SV,2016,700000,110000,Diesel,Individual,Manual,First Owner,26.00,1498.0,98.60,5.0,Honda,200.00000,1750.0

Переведем некоторые колонки из float в int

In [14]:
def float_to_int(df):
    df["engine"] = df["engine"].astype(np.int32)
    df["seats"] = df["seats"].astype(np.int16)
    df["max_torque"] = df["max_torque"].round().astype(np.int16)
    df["max_torque_rpm"] = df["max_torque_rpm"].astype(np.int32)

float_to_int(df_train)
float_to_int(df_test)

## Экспортируем обработанные данные

In [15]:
df_train.to_csv("../data/processed/cars_train_processed.csv", index=False)
df_test.to_csv("../data/processed/cars_test_processed.csv", index=False)